.container{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items:center;
  }
  
.example-radio-button {
    margin: 5px;
}

.button{
    margin-top: 20%;
    text-align: center;
}
.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    margin: 5%;
}

.alinearBotones {
    align-items: center;
    display: flex;
    justify-content: center;

}

button {
    width: 70%;
    font-size: 15px;
    margin-left: 10%;
}


h2{
    text-align: center;
}


.texto{
   width: 80%;
   margin-left: 10%;
   text-align: center;
}
.primero,.segundo{
    color: #858484;
    
}

.primero{
    font-weight: 500;
}
