
<p class="fixed-top">
    <mat-toolbar class="bg-primary">
      <span style="color: white;">MIES APP</span>
    </mat-toolbar>
</p>

<div style="margin-top: 25%"></div>

<div>
    <h1 class="center cText">{{nombres}} {{apellidos}}</h1>
    <form class="inline" [formGroup]="form">
        <div class="container input-icons">
            <a>
                <br>
                <i class="fa fa-solid fa-fingerprint icon"></i>
                <input type="number" formControlName="tec_cedula" class="form-control input-field"  placeholder="Cédula" readonly="readonly">
                <div *ngIf="form.get('tec_cedula')?.errors && form.get('tec_cedula')?.dirty">
                    <p class="required-red" *ngIf="form.get('tec_cedula')?.hasError('required')">La cedula es un campo requerido</p>
                </div>
            </a>
            <a>
                <br>
                <i class="fa-solid fa-user icon"></i>
                <input type="text" formControlName="tec_genero" class="form-control input-field"  placeholder="Genero" aria-label="default input example">
                <div *ngIf="form.get('tec_genero')?.errors && form.get('tec_genero')?.dirty">
                    <p class="required-red" *ngIf="form.get('tec_genero')?.hasError('required')">El genero es un campo requerido</p>
                </div>
            </a>
            <a>
                <br>
                <p class="textoPeqBold">Fecha de nacimiento: </p>
                <input type="date" formControlName="tec_fecha_nac" class="form-control"  placeholder="Fecha de nacimiento" aria-label="default input example">
                <div *ngIf="form.get('tec_fecha_nac')?.errors && form.get('tec_fecha_nac')?.dirty">
                    <p class="required-red" *ngIf="form.get('tec_fecha_nac')?.hasError('required')">Fecha de nacimiento es un campo requerido</p>
                </div>
            </a>
            
            <a>
                <br>
                <i class="fa-solid fa-users icon"></i>
                <input type="text" formControlName="tec_etnia" class="form-control input-field"  placeholder="Autoidentificación étnica" aria-label="default input example">
                <div *ngIf="form.get('tec_etnia')?.errors && form.get('tec_etnia')?.dirty">
                    <p class="required-red" *ngIf="form.get('tec_etnia')?.hasError('required')">La denominacion etnica es un campo requerido</p>
                </div>
            </a>
            <a>
                <br>
                <i class="fa-solid fa-location-dot icon"></i>
                <input type="text" formControlName="tec_direccion" class="form-control input-field"  placeholder="Dirección" aria-label="default input example">
                <div *ngIf="form.get('tec_direccion')?.errors && form.get('tec_direccion')?.dirty">
                    <p class="required-red" *ngIf="form.get('tec_direccion')?.hasError('required')">La direccion es un campo requerido</p>
                </div>
            </a>
            <a>
                <br>
                <i class="fa-solid fa-key icon"></i>
                <input type="text" formControlName="tec_contrasenia" class="form-control input-field"  placeholder="Contraseña" aria-label="default input example">
                <div *ngIf="form.get('tec_contrasenia')?.errors && form.get('tec_contrasenia')?.dirty">
                    <p class="required-red" *ngIf="form.get('tec_contrasenia')?.hasError('required')">El origen es un campo requerido</p>
                </div>
            </a>
            
            <br>

            <div class="center">     
                <p class="required-red2" *ngIf="hayError">Comprueba los campos y vuelve a intentarlo</p>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" (click)="save($event)">Registrar</button>
                <button type="button" class="btn btn-danger" (click)="onBack()">Cancelar</button>
            </div>
        </div>
    </form>
</div>

