* {
    font-family: sans-serif;
}

body {
    margin-top: 10%;
    font-size: 130%;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.contenedor {
    margin-top: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;

}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    margin: 5%;
}

.alinearBotones {
    align-items: center;
    display: flex;
    justify-content: center;

}


button {
    font-size: 12px;
    margin-left: 10%;
}

.res {
    margin-right: 20%;
    margin-top: 20%;

}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
    margin-left: 40%;
}

.example-radio-button {
    margin: 5px;
    margin-top: 5%;

}