.grid-cont {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 100px 100px; 
  gap: 10px;
  padding: 5px;
}

.grid-cont > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.titles{
  padding: 10px;
  right: 90px;
  text-transform: uppercase;
  font-weight: bold; 
}


.botones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  margin: 5%;
}

.alinearBotones {
  align-items: center;
  display: flex;
  justify-content: center;

}


button {
  font-size: 12px;
  margin-left: 10%;
}


.button{
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  background-color: #1883ba;
  border: none;
  cursor: pointer;
}
.button:hover{
  color: #ffffff;
  background-color: #59BCED;
}