
.centertd{
    vertical-align:middle;
    text-align: center; 
}

.center{
    text-align: center; 
}

.input-icons i {
    position: absolute;
    padding: 10px;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 50px;
    color: rgb(84, 84, 84);
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 20px;
    text-align: center;
}
  
  
  