.container{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
}

.example-form {
    width: 90%;
    margin-left: 5%; 
    margin-right: 2%;  
  }
  
  .example-full-width {
    width: 100%;
  }

  .primero, .segundo{
    color: #858484;
    font-weight: 600;
    margin-right: 2%;  
}

.inputFoto{
    margin-left: 15% ;
    border-color: #bfbfbf;
    width: 100%;
}

.button{
    margin-top: 0%;
    text-align: center;
}
button{
    margin-right: 10%;
    margin-left: 0%;
    text-align: center;
}
