<app-menu [indice]="indice"></app-menu>
<div style="background-color: #f4f8fa; width: 100%;">


<div class="container">
    <div class="contenido">
        <h1>ESCALA DE YASAVAGE</h1>
        <P>El test de <small>ESCALA DE YASAVAGE</small> debe ser respondido de manera independiente.</P>
    </div>
</div>

<footer>
    <div class="button-row">
        <button (click)="btnContinuar(idEncabezado)" mat-raised-button color="primary">Confirmar</button>
        <button (click)="onBack()" class="cancelar" mat-raised-button color="warn">Cancelar</button>
    </div>
</footer>


</div>