:host {
    font-family: sans-serif;
    background-color: #F4F8FA;
}

.tiempo {
    text-align: right;
}

.contenedorPreguntas {
    background-color: #F4F8FA;
    white-space: pre;
    width: 100%;
    height: 100%;
    margin: auto;
}

.cont {
    margin-left: 2%;
    margin-right: 2%;
}

.respuesta {
    margin-bottom: 10px;
    font-size: 15px;
}

.bloque {
    margin-bottom: 10px;
}

.espaciado {
    margin-left: 5px;
}

.contenedor {
    background-color: #F4F8FA;
}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    margin: 5%;
}

.alinearBotones {
    align-items: center;
    display: flex;
    justify-content: center;

}


button {
    width: 60%;
    font-size: 15px;
    margin-left: 10%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.example-radio-button {
    margin: 5px;
    white-space: normal !important;
}

.example-radio-button>* {
    white-space: normal !important;
}


.pregunta {
    font-size: 15;
    font-weight: bold;
    opacity: 1;
}

.prr {
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 10px 20px #a7a5a5bb inset;
}

.etiqueta {
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 10px 20px pink  inset;
    text-align: center;

}
.pregunta {
    font-size: 15;
    margin-bottom: 50px;
    font-weight: bold;
    opacity: 1;
    margin: 0px 5px 0px 5px;
    white-space: normal !important;
}

.pregunta>* {
   
    white-space: normal !important;
}